# Flask e componentes principais
Flask==3.0.0
Werkzeug==3.0.1

# Banco de Dados SQLite
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.29

# Autenticação e Login
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1

# Tempo Real (WebSockets)
Flask-SocketIO==5.3.6
eventlet==0.35.2

# Ferramentas e Utilitários
openpyxl==3.1.2
python-dotenv==1.0.1

gunicorn